<div class="headline">
    <h2 class="leadd">What is happening?</h2>
</div>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6">
        <form>
            <div class="form-group">
                <input id="tweet" class="form-control" type="text"></input>                
            </div>
            <button id="sendTweet" class="btn btn-primary" type="submit">Tweet</button>
        </form>
        <br>
        <div id="tweets">
        {{#each tweets}}
            <div class="card mb-3">
                <div class="card-body d-flex align-items-center">
                    <a href="/user/{{ author._id }}"><img class="rounded-circle" src="http://www.britishcastle.club/wp-content/uploads/2017/06/sample-customer-photo2.jpg" height="75" width="75" alt=""></a>
                    <div class="ml-3">
                        <h5 class="card-title">{{ author.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{date created 'MMM Do YYYY, h:mm a' }}</h6>
                        <p class="card-text">{{ content }}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>