<div class="headline">
    <h1>Join and Post your Favorite Tweets</h1>
    <p class="lead">Sign up now and enjoy an awesome new social experience.</p>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>